.ListContainerDiv{
    padding-top: 15px;
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: rgb(48, 48, 53);
    overflow: scroll;
    scrollbar-width: none;
    gap: 2px;
    flex-grow:1
}

.ListContainerDiv::-webkit-scrollbar {
    display: none; 
}

.listItemDiv{
    display:flex;
    align-items: center;
    background-color:rgb(42, 42, 44);
    border-radius: 20px;
    border-style: solid;
    border-width: 0px 2px 4px 0px;
    border-color: black;
    width: 90%;
}

.listGap{
    height: 15px ;
    min-height: 15px;
    width: 10%;
    font-size: 12px;
    text-align: center;
    margin-right: 5%;
    align-self: flex-end;
    position:relative;

}

.listGapMove{
    position: absolute;
    top: -60%;
    right: -15%;
    width: 35px;
    height: 35px;    
    background-color: rgb(44, 42, 42);
    border-radius: 50%;
    border-style: none;
}

.listGap svg{
    color:aliceblue;
    width: 70%;
    height: 70%;
}


.listItemDiv.selected{
    background-color:rgb(47, 60, 73);
}

.ListItemNum {
    font-size: 2.8rem;
    width: 120px;
    height: 100%;
    text-justify: center;
    padding-left: 2px;
    padding-top: 15px;
}

.ListItemName {
    font-size: 50px;
    color: rgb(230, 230, 230);
}


.listItemSubName{
    font-size: 20px;
    margin: 0px 0px 5px 2px;
    height: 20px;
    color:  rgb(108, 181, 255);
}

.ListItemImageContainer {
    width: 85px;
    height: 85px;
    margin: 0px 20px;
    background: rgb(29, 29, 31);
}

.ListItemImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ListItemDoubleContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 10px
}

.ListItemDoubleContainer.closer{
    margin-right: -6px;
}
.ListItemDoubleContainer input{
    width: 50px
}

.textContainer div{
    font-size: 20px;
}

.listItemDiv svg{
    width: 15px;
    height: 15px;
}

.listItemDiv button{
    margin: 2px;
}