.popup{
    position: absolute;
    border-radius: 20px;
    top: 25%;
    left: 50%;
    background-color: rgba(63, 69, 78);
    transform: translate(-50%, 0%);
    padding: 30px;
    overflow: auto;
    max-height: 80vh;
}

.popupGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 15px 30px;
    justify-items: left;
    font-size: x-large;
    padding-left: 20px;
}

.popup-center{
    justify-self: center;
    align-self: center;
}

.popupCloseButton{
    background-color: rgb(255, 51, 0);
    font-size: 24px;
    color: rgb(247, 247, 247);
    border-color: rgb(248, 248, 248);
    border-width: 4px;
    border: solid;
    margin-right: 15px;
}

.popupCloseButton:active{
    background-color: rgb(209, 50, 10);
    border-color: rgb(241, 197, 197);
}

.popupAddButton{
    background-color: rgb(0, 101, 216);
    font-size: 24px;
    color: rgb(247, 247, 247);
    border-color: rgb(248, 248, 248);
    border-width: 4px;
    border: solid;
    margin-left: 15px;
}

.popupAddButton:active{
    background-color: rgb(2, 52, 214);
    border-color: rgb(194, 241, 255);
}

.popupGrid input[type="text"]{
    font-size: 16px;
    height: 30px;
    width: 95%;
    justify-self: center;
    align-self: center;
}
.grid-column-span-2{
    grid-column: span 2;
}

.grid-column-span-3{
    grid-column: span 3;
}
